body {
font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #6892d5;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #6892d5;
  list-style: none;
  margin: 0;
  font-size: 16px;
}
li:first-letter {
  text-transform: capitalize;

}
p {
  text-align: right;
  color: #6892d5;
  font-size: 12px;
}

strong {
  color: #79d1c3;
}

.form {
  padding: 20px 0px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 4px solid #6892d5;
  border-radius: 10px;
 background: #c9fdd7;
}

.btn-custom {
  background-color: #6892d5;
  color: white;
  border: #6892d5;
}

.btn-custom:hover {
  background-color: #6892d5;
  filter: brightness(0.5);
}

#current-button {
  background-color: #66bfbf;
  border: #66bfbf;
}

#current-button:hover {
  background-color: #66bfbf;
  filter: brightness(0.5);
}

.date {
  font-size: 20px;
  color: #66bfbf;
}

.weather-temperature {
  position: relative;
}

.weather-temperature .icon {
  margin-right: 2px;
  height: 100px;
  width: 100px;
}

.weather-temperature strong {
  color:#6892d5;
  font-size: 64px;
  line-height: 2;
  font-weight: 600;
}

.weather-temperature .units {
  position: relative;
  font-size: 24px;
  top: -34px;
}

.weather-temperature .active {
  text-decoration: none;
  color: #6892d5;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}


.col {
  color: #66bfbf;
}

.weather-forecast {
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.weather-forecast-temp-max {
  font-weight: 600;
}


